/* --------------------- RESETEO CSS ------------------------------------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    
    /* --------------------- LINKS ------------------------------------- */
    
    a {
        text-decoration: none;
        color: white;
    
    }
    
    /* --------------------- LISTAS ------------------------------------- */
    
    ul,
    ol {
        list-style-type: none;
    }
    
    
    /* --------------------- IMAGENES ------------------------------------- */
    
    img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }
    
    iframe {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    
    }

    /* --------------------- Tipografias ------------------------------------- */
    
    
    h1{
        font-size: 3.2rem;
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-weight: 800;
        padding: 1%;
    }
    
    h2{
        font-size: 2.5rem;
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-weight: 600;
        padding: 1%;
    }
    
    h3{
        font-size: 2rem;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        padding: 1%;
    
    }
    
    
    
    p,li,label{
        font-size: 1rem;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
    }



/* --------------------- HEADER ------------------------------------- */

header {
    background-color: rgb(26, 29, 54);
    padding: 1%;
    width: 100%;

    display: flex;
    flex-direction: column;

}

header img {
    margin-left: auto;
    margin-right: auto;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header li {
    font-size: 1.5rem;
}




/* --------------------- MAIN ------------------------------------- */

main {
    background-color: rgb(36, 40, 73);
}

/* PORTADA */

#seccion-portada{
    padding: 3%;
    text-align: center;
    height: auto;
    overflow: auto;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portada-texto {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 5%;

}


/* NOTICIAS */

#seccion-noticias {
    padding: 3% 5%;
    text-align: center;
    background-color: rgb(41, 46, 85);
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#seccion-noticias a{
    font-size: 1.2rem;
    color: black;
    overflow: auto;
    padding: 3%;
    border: solid 2px black;
    background-color: blueviolet;
    border-radius: 20px;
}

#seccion-noticias p{
    overflow: visible;
    margin: 5%;
}

#seccion-noticias a:hover {
   background-color: rgb(165, 42, 110); 
}

.contenedor-noticias {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(49, 55, 100);
    border: solid 2px black;
    margin: 3% 0%;

}


/* EQUIPOS */

#seccion-equipos {
    padding: 3%;
    text-align: center;
    background-color: rgb(46, 52, 99);
}

#seccion-equipos h2{
    margin-bottom: 2%;
}

#seccion-equipos img {
    margin: 1% 0%;
}

.equipos-boton {
    margin: 3% 0%;
}

.equipos-boton a{
    font-size: 1.2rem;
    color: black;
    padding: 2%;
    border: solid 2px black;
    background-color: blueviolet;
    border-radius: 20px;
    
}

.equipos-boton a:hover {
   background-color: rgb(165, 42, 110); 
}


.imagen-banner {
    width: 100%;
}


/* --------------------- FOOTER ------------------------------------- */


footer {
    background-color: rgb(26, 29, 54);
    padding: 3%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer li{
    margin: 2% 0%;
}

footer h3 {
    font-size: 1.6rem;
}   

#footer-links {
    height: auto;
    width: 40vw;

    display: flex;
    flex-direction: column;
    align-content: space-around;
}



#footer-redes {
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}




/* --------------------- TIENDA.HTML ------------------------------------- */

.seccion-titulo {
    text-align: center;
    padding-top: 3%;
}

#seccion-tienda {
    padding: 3%;
    text-align: center;
    height: auto;
    width: auto;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-producto {
    border: solid 2px black;
    width: auto;
    padding-bottom: 3%;
    margin: 3% 0%;

  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.card-producto h3 {
    text-align: center;
}
  
.card-producto img {
    width: 100%;
}
  
.card-producto p {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    margin: 2% 0%;
}
  
.card-producto a {
    border: 2px solid black;
    font-size: 1.2rem;
    overflow: auto;
    padding: 2%;
    margin-top: 1%;
  
    background-color: blueviolet;
    color: black;
  
    border-radius: 10px;
}
  
.card-producto a:hover {
    background-color: rgb(165, 42, 110);
}
  
.contenedor-productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.contenedor-filtro {
    border: 2px solid black;
    width: auto;

}

.contenedor-filtro h3 {
    padding: 1%;
    background-color: rgb(95, 17, 168);
}

.contenedor-filtro li {
    padding: 4px;
}

.contenedor-filtro li:hover {
    background-color: rgb(165, 42, 110);
}



/* --------------------- CONTACTO.HTML ------------------------------------- */

label {
    font-size: 1.5rem;
}

#seccion-formulario {
    border: solid 3px white;
    margin: 0% 10%;
    text-align: center;

}

#seccion-formulario div {
    padding: 1%;
}

#seccion-formulario input {
    width: auto;
    background-color: rgb(36, 40, 73);
    padding: 1%;
    border-radius: 6px;
    border-color: white;
    color: white;
}

#seccion-formulario textarea {
    background-color: rgb(36, 40, 73);
    width: auto;
    padding: 1%;
    border-radius: 6px;
    border-color: white;
    color: white;
}











/* --------------------- RESPONSIVE ------------------------------------- */


@media (min-width: 760px) {
    
    /* HEADER */

    header {
        padding: 0,5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        width: 60%;
    }

    header img {
        margin-left: 0%;
        margin-right: 0%;
        width: 10%;
    }

    /* MAIN */

    .portada-texto {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
    }

    #seccion-portada iframe {
        width: 90%;
    }

    .imagenes-equipos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    #seccion-equipos img {
        width: 25vw;
        margin-bottom: 10%;



    }
    
    /* SECCION  TIENDA */

    .tienda-productos {
        margin: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-producto {
        width: 45vw;
        margin: 5%;
        
    }

    .form-formulario {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 120px);;
        grid-template-areas: 
        "nombre email"
        "telefono mensaje"
        ". botones";
        grid-auto-rows: auto;
    }

    .formulario-nombre {
        grid-area: nombre;
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .formulario-email {
        grid-area: email;
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .formulario-telefono {
        grid-area: telefono;
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .formulario-mensaje {
        grid-area: mensaje;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #campo.mensaje {
        height: fit-content;
        width: auto;
    }

    .formulario-botones {
        grid-area: botones;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }



}


@media (min-width: 1024px) {
    
    /* HEADER */


    header {
        padding: 0,5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        width: 60%;
    }

    header img {
        margin-left: 0%;
        margin-right: 0%;
        width: 5%;
    }


    /* MAIN */

    .portada-texto {
        margin:  0% 3% 3%;
    }

    #seccion-noticias {
        display: grid;
        grid-template-rows: 10% 3fr;
        grid-template-areas:
        "titulo"
        "noticia";
    }

    #seccion-noticias h2 {
        grid-area: titulo;
        text-align: center;
        text
    }

    .ubicacion-noticias {
        grid-area: noticia;

        display: flex;
        flex-direction: row;
    }

    .contenedor-noticias{
        margin: 3% 3%;
        width: 45vw;
    }

    /* TIENDA */

    #seccion-tienda {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "filtro productos";
    }

    .contenedor-filtro {
        grid-area: filtro;
        text-align: left;
    }

    .tienda-productos {
        grid-area: productos;
        margin: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contenedor-productos {
        width: 20vw;
    }

    .card-producto h3 {
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    /* CONTACTO */

    label {
        margin: 2%;
    }

    input {
        width: 80%;
    }

    .form-formulario {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 120px);;
        grid-template-areas: 
        "nombre email telefono"
        "mensaje mensaje mensaje"
        ". . botones";
        grid-auto-rows: auto;
    }

    .formulario-nombre {
        grid-area: nombre;
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .formulario-email {
        grid-area: email;
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .formulario-telefono {
        grid-area: telefono;
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .formulario-mensaje {
        grid-area: mensaje;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #campo.mensaje {
        height: fit-content;
        width: auto;
    }

    .formulario-botones {
        grid-area: botones;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }



}