/* --------------------- CONTACTO.HTML ------------------------------------- */


.contenedor-oficinas {
    border: 2px solid $color-principal;
    padding: 2% 0%;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 220, 207);
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 996px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

}
