/* --------------------- INDEX.HTML ------------------------------------- */

#hero-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;

    h1 {
        margin: 5%;
    }

    p {
        font-size: 1.1rem;
        margin: 0% 5% 5%;

        @media (min-width: 996px) {
            font-size: 1.2rem;
            }

        @media (min-width: 1200px) {
            font-size: 1.5rem;
            }

    }

    iframe {
        box-shadow: 0px 0px 100px rgba(0, 220, 205, 0.404);

        @media (min-width: 768px) {
            width: 90%;
            height: 354px;
            }
        
        @media (min-width: 996px) {
            width: 80%;
            height: 420px;
            }
        
        @media (min-width: 1200px) {
            width: 60%;
            height: 438px;
            }
    }

}

#seccion-noticias {
    padding: 5% 0%;
}

.card {
    background-color: $color-principal;
    border: 2px solid rgb(0, 220, 207);
    box-shadow: 0px 0px 30px rgba(0, 220, 205, 0.404);

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-img-top {
    height: 30vh;
    object-fit: cover;
}

.card-text-date {
    color: rgb(0, 220, 207);
    text-align: end;
}

.card-title {
    color: white;
}

.card-text {
    color: white;
}





/* EQUIPOS */


#seccion-equipos {
    padding: 0% 0% 5% 0%;
    text-align: center;

    .imagenes-equipos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        

        img {
        width: 60%;
        margin: 4%;

        &:hover {
            transform: scale(1.1);
            transition-duration: 100ms;
        } 
    }

        @media (min-width: 996px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
            align-content: center;

            a {
                width: 30%;
            }
        }

    }
}

#seccion-sponsors {
    padding: 0% 0% 5% 0%;
    text-align: center;

    .imagenes-sponsors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        

        img {
        width: 60%;
        margin: 4%;

        &:hover {
            transform: scale(1.1);
            transition-duration: 100ms;
        } 
    }

        @media (min-width: 996px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
            align-content: center;

            a {
                width: 30%;
            }
        }

    }
}




/* --------------------- RESPONSIVE INDEX.HTML------------------------------------- */


@media (min-width: 760px) {

    .imagenes-equipos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    #seccion-equipos img {
        width: 25vw;
        margin-bottom: 10%;

    }


}
