/* --------------------- FOOTER ------------------------------------- */


footer {
    background-color: $color-principal;
    padding: 3%;
    padding-bottom: 0%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    li {
        margin: 5% 0%;
        &:hover {
            background-color: $color-hover;
        }
    }

    ul {
        padding: 0%;
    }


    h3 {
        font-size: 1.6rem;
        padding: 0%;
    }   
}



#footer-links {
    width: 35vw;

    display: flex;
    flex-direction: column;
    align-content: space-around;
}




#footer-redes {
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    i {
    font-size: 2rem;
    }

    
}

.iconos-redes {
    margin-top: 5%;


    i {
        margin-right: 10%;
    }

}