/* --------------------- LINKS ------------------------------------- */

a {
    text-decoration: none;
    color: white;

}

/* --------------------- LISTAS ------------------------------------- */

ul,
li {
    list-style-type: none;
    
}


/* --------------------- IMAGENES ------------------------------------- */

img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* --------------------- FONDO ------------------------------------- */

main {
    background: linear-gradient(to bottom, rgb(15, 12, 41) 0%, rgb(48, 43, 99) 50%, rgb(36, 36, 62) 100%);
}