/* --------------------- BANNER ------------------------------------- */

.banner-secciones {
    width: 100%;
    margin-top: 2%;
    background-image: url(../../Imagenes/fondogamer4.jpg);
    background-size: cover;
    background-repeat: none;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        margin: 0;
        padding-right: 5%;
        width: 20%;
    }

    p {
        margin: 0%;
        padding: 10% 0%;
        font-size: 3rem;

        @media (min-width: 996px) {
        font-size: 60px;
        }
    }
    

}