/* --------------------- BOTONES ------------------------------------- */

.btn {
    font-size: 1.2rem;
    color: black;
    padding: 2%;
    border: solid 2px black;
    background-color: $color-botones;
    border-radius: 20px;
    
    &:hover {
        background-color: $color-hover;
        border: solid 2px black;
        color: black;
    }

    a {
        color: black;
    }

}

.btn-desactivado {
    @extend .btn;
    background-color: rgb(158, 158, 158);
    color: rgb(48, 48, 48);
    border: solid 2px rgb(48, 48, 48);

    &:hover {
        background-color: rgb(158, 158, 158);
        color: rgb(48, 48, 48);
        border: solid 2px rgb(48, 48, 48);
    }
}